services:
  app:
    build: .
    ports:
      - "3000:3000"
    volumes:
      - .:/app
      - /app/node_modules
    depends_on:
      - mongo
    environment:
      - MONGO_URI=mongodb://mongo:27017/marvel-db

  mongo:
    image: mongo
    ports:
      - "27017:27017"
    volumes:
      - marvel-data:/data/db

volumes:
  marvel-data: